.main-button{
    font-family: "Poppins";
    font-size: 20px;
    width: 181px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
@media (max-width: 710px) {
    .main-button {
        width: 120px;
        height: 60px;
        font-size: 15px;
    }
}

