.main-section.-calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1296px;
    width: 100vw;
    height: 607px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-left: 15px;
}
.main-amonia{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items:baseline;
    margin: auto;

}
.tools-section{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.main-recommendation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.recommendation-images{
    display: flex;
    justify-content: center;
}

.main-contact{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.amonia-introduce{
    margin-left: 30px;
}


@media(max-width: 790px){
    .main-section.-calculator{
        height: 400px;
        margin-top: 40px;
    }
}