.main-title{
    font-family: "Poppins";
    color: black;
    font-size: 16px;
}

.main-title.-home{
    color: #3636b9;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;

}
.main-title.-header{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

.main-title.-login{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
}
.main-subtitle{
    font-family: "inter";
    color: #3636b9;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

.main-title.-h1{
    font-size: 54px;
    font-weight: 700;
}
.main-subtitle.-p{
    font-size: 16px;
    color: black;
    font-weight: 400;

}