.figure-carrosel1{
    padding-left:2290px;
   margin-right: 40px;
}

.carossel-img {
    height: 450px;
    border: solid 10px; 
    border-image: linear-gradient(45deg, 
    rgb(255, 255, 255), 
    rgb(200, 200, 200), 
    rgb(160, 160, 160), 
    rgb(220, 220, 220), 
    rgb(128, 128, 128)
) 1;
}

.selecionado {
    border-image: linear-gradient(45deg, #FFD700, #FFCC00, #FFB300, #FFCC00, #FFD700) 3;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}
.carosel-img::before{
    position: absolute;
    transform: translate(-120%);
}
.figure-carrosel{
    margin: auto;
    border-radius: 10px;
    margin-right: 40px;
}
.seta{
    background-color:#F8F9FA;
    height: 50px;
    width: 50px;
}
.seta::before{
    content: "";
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 26px solid transparent;
    border-top:28px solid black ;

}
.seta.-bottom{
    transform: rotate(180deg);
}

@media(max-width: 790px){
 
}
