.header-container{
    display: flex;
    justify-content: space-between;
}
.header-contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 480px;
    width: 56vw;
    height: 50px;
    margin-top: 10px;
    margin-left: 30px;
  
}
.header-link{
    display: flex;
    align-items: center;
   margin-left: 15px;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 88px;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    margin: 0 auto;
    margin-left: 100px;

}

.header-login{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}
@media(max-width: 790px){
   .main-header{
    height: 40px;
    width: 94%;
    margin-left: 10px;
   }
 .header-contact{
    margin-left: 10px;
 }
 .header-login{
    margin-right: 10px;
 }
}