.main-logo{
    height: 60px;
    border-radius: 10px;
    margin-left: 30px;
}

.main-background{
    max-height: 570px;
    height: 40vw;
}
.main-background.-amonia{
    max-height: 570px;
    height: 40vw;
    border-radius: 10px;
    margin: auto;
    margin-left: 30px;
}
.beta-img{
    display: flex;
    align-items: end;
    justify-content: end;
    max-height: 100px;
    height: 10vw;
    margin-top: 60px;

}
.main-tools{
    max-height: 300px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    transition: transform 0.3s ease; 
    padding-bottom: 10px;
}
.main-tools:hover{
   transform: scale(1.1);
}
.img-recomend{
    height: 200px;
    margin-left: 30px;

}
.img-recomend.-first{
    margin-left: 50px;
}
.fishdex-card{
    height: 300px;
    margin: 15px;
    cursor: pointer;
    transition: all 1s;
}

.fishdex-card.-verso{
    display: none;
    transform: rotateY(180deg);
}
@media(max-width: 710px){
    .main-logo{
        height: 05vw;}
        .main-tools{
            height: 30vw;
            margin-left: 20px;
            margin-right: 20px;
        }
        .img-recomend{
            height: 100px;
            margin-left: 15px;
        }
        .img-recomend.-first{
            margin-left: 230px;
        }
        .main-background.-amonia{
            margin-left: 10px;
        }
        .fishdex-card{
            height: 120px;
        }
 
}