.main-logo{
    height: 60px;
    border-radius: 10px;
    margin-left: 30px;
}

.main-background{
    max-height: 570px;
    height: 50vw;
}

@media(max-width: 710px){
    .main-logo{
        height: 20px;}
}