.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1296px;
    width: 100vw;
    height: 607px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-bottom: 70px;
}
.main-section.-home{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1296px;
    width: 100vw;
    height: 607px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-bottom: 70px;
}
.main-section.-calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1296px;
    width: 100vw;
    height: 607px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-bottom: 70px;
}
.main-section.-fishdextop{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1296px;
    width: 100vw;
    height: 607px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-bottom: 70px;
}
.main-section.-fishdex{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1296px;
    width: 100vw;
    height: 801px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-bottom: 70px;
}

.main-section.-figuresection{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.main-section.-carroseu{
    overflow:hidden ;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 530px;
}

.main-amonia{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items:baseline;
    margin: auto;

}
.tools-section{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.tools-section.-fishdex{
    flex-direction: column;
    align-items: center;
}
.card-container {
    position: relative;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
    margin-top: 15px;
}
.card-container.virado .fishdex-card.-frente {
    display: none;
    transform: rotateY(180deg);
}

.card-container.virado .fishdex-card.-verso {
    display: block;
    transform: rotateY(0deg);
}
.main-recommendation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.recommendation-images{
    display: flex;
    justify-content: center;
}

.main-contact{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.amonia-introduce{
    margin-left: 30px;
}

.figure-carroseu{
    margin: auto;
    border-radius: 10px;
    margin-right: 40px;
}
@media(max-width: 790px){
    .main-section.-home{
        margin-top: 40px;
        height: 300px;
    }
    .main-section.-calculator{
        height: 400px;
        margin-top: 45px;
        margin-bottom: 100px;
        padding: 0;
    }
    .main-recommendation{
        overflow-x: scroll;
    }
    .main-section.-fishdex{
        height: 420px;
        width: auto;
        margin-top: 50px;
        padding-bottom: 10px; 
    }
    .main-section.-fishdextop{
        height: 300px;
        margin-top: 0px;
        margin-bottom: 50px;
        padding: 0;
    }
    .main-section.-figuresection{
        max-width: 400px;
        flex-wrap: wrap;
        margin-top: 0;

    }
    .card-container{
        height: 115px;
        width: 100px;
        margin-top: 10px;

    }
    .tools-section.-fishdex{
        height: 43px;
        padding-bottom: 2px;
    }
}