.main-title{
    font-family: "Poppins";
    color: black;
    font-size: 16px;
}
.main-title.-contact{
    font-size: 18px;
    line-height: 1;
}
.main-title.-contactMobile{
    display: none;
    font-size: 13px;
}

.main-title.-home{
    color: #3636b9;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;

}
.main-title.-header{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

.main-title.-login{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
}
.main-subtitle{
    font-family: "inter";
    color: #3636b9;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}
.main-title.-mobile{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

.main-title.-h1{
    font-size: 54px;
    font-weight: 700;
}
.main-title.-h2{
    font-size: 44px;
    font-weight: 500;
}
.main-title.-figcaption{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 25px;
}

.main-subtitle.-p{
    font-size: 16px;
    color: black;
    font-weight: 400;
}
.main-subtitle.-resultado{
    color: rgb(17, 14, 14);
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 700;
    cursor: pointer;
}
.main-title.-h1Carroseu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.main-subtitle.-pCarroseu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: black;
    font-weight: 400;
}

@media(max-width: 790px){
    .main-title.-header{
        font-size: 10px;
        margin-right: 4px;
        margin-left: 4px;
    }
    .main-title.-contact{
        display: none;
    }
    .main-title.-contactMobile{
        display: flex;
    }
    .main-title.-home{
        font-size: 10px;
        margin: 5px;
    }
    .main-title.-login{
        font-size: 13px;

    }
    .main-title.-fishdex{
        display: none;
    }
    .main-subtitle{
        font-size: 10px;
    }
    .main-title.-h1{
        font-size: 20px;
    }
    .main-title.-h2{
        font-size: 15px;
    }
    .main-subtitle.-p{
        font-size: 10px;
    }
    .main-title.-figcaption{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        width: 100px;
        margin-left: 20px;
    }
    .main-title.-mobile{
        display: none;
    }
    .main-title.-h1Carroseu{
        font-size: 25px;
    }
    .main-subtitle.-pCarroseu{
        font-size: 15px;
    }
}