body{
    background-color: #F8F9FA;
    margin: 0;
}
a{
    text-decoration: none;
}

.main-button{
    font-family: "Poppins";
    font-size: 20px;
    width: 181px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor:pointer;
    
}